{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="content-section">
<div class="info-box">
            <h3>Payment information</h3>
    <div class="paymentForm">
        <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
    </div>
<button class="btn-warning" type="submit">Continue to review</button>
    </form>
</div>
    <div class="info-box" id="cart_summary">
        {% include "cart/cart_summary.html" %}
        <div class="inner_cart_container"></div>
    </div>
</div>
    <script>
    function load_cart(cart_key){
        var cart_list = localStorage.getItem(cart_key);
        setCookie(cart_key, cart_list)
        cart_list = JSON.parse(cart_list);
        return cart_list
    }

    function setCookie(ItemCartKey, items) {
        document.cookie = ItemCartKey + "=" + items;
    }

    </script>
{% endblock content %}
