{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="content-section">
<div class="info-box">
            <h3>Payment information</h3>
    <div class="paymentForm">
        <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
    </div>
<button class="btn-warning" type="submit">Continue to review</button>
    </form>
</div>
    <div class="info-box" id="cart_summary">
        {% include "cart/cart_summary.html" %}
        <div class="inner_cart_container"></div>
    </div>
</div>
{% endblock content %}
