{% extends 'base.html' %}
    {% block content %}
        <div class="items">
            <script>
                for (i = 0; i < 1; i++) {
                    var item_storage = Object.entries(localStorage);
                    console.log(item_storage[0][0])
                    var assbutt = item_storage[0][0]
                    console.log(assbutt)
                    console.log(typeof assbutt);
                    var searchText = item_storage;
                    assbutt= assbutt.split(":").pop()
                    console.log(assbutt)


                        $.ajax({
                            url: assbutt,
                            type: 'GET',
                            success: function (resp) {
                                var newHtml = item_storage.map(d => {
                                    return `d.id`
                                })
                                $('.items').html(newHtml.join(''));
                                $('#search-box').val('');

                                //TODO:order by name
                            },
                            error: function (xhr, status, error) {
                                console.error();
                            }


                        })

                }
            </script>
        </div>
    {% endblock %}