{% extends 'base.html' %}
{% block content %}

    <script>
    function load_cart(cart_key){
        var cart_list = localStorage.getItem(cart_key);
        cart_list = JSON.parse(cart_list);
        return cart_list
    }

    function generate_cart(cart_list) {
    console.log(cart_list)
    $( "div.inner_container" ).replaceWith(`<div id='cart_items_div'></div>`);
    cart_list.map(d => {
        console.log(d)
        var mywrapper = document.createElement('div');
        var child = `<div class="CartItem">
                    <a href="/items/${d.pk}">
                        <span class="Caption">${ d.fields.name }</span>
                    </a>
                    <p class="ItemPrice">${d.fields.price}</p>
                    <div id="ItemQuant">
                        <div class="decrease_amount_button" id=${d.pk}>
                            <button type="button" class="btn btn-secondary">-</button>
                        </div>
                        <div class="QuantButton" id=${d.pk}>
                            <button type="button" id="Quantity" class="btn btn-outline-primary">${ d.fields.quantity }</button>
                        </div>
                        <div class="increase_amount_button" id=${d.pk}>
                            <button type="button" class="btn btn-secondary">+</button>
                        </div>
                    </div>
                    <div class="delete_item_button" id=${d.pk}>
                        <button type="button" class="btn btn-outline-danger">Delete item</button>
                    </div>
                </div>`
        mywrapper.innerHTML= child;
        var div = mywrapper.firstChild;
        document.getElementById("cart_items_div").appendChild(div);

    })
        var mywrapper = document.createElement('div');
        var continue_payment_child = `<div class="continue_payment">
                            <a href="{% url 'contact_view' %}" target="_parent"><button type="button" class="btn btn-warning">Checkout</button></a>
                        </div>`
        mywrapper.innerHTML= continue_payment_child;
        var div = mywrapper.firstChild;
        document.getElementById("cart_items_div").appendChild(div);

        //newHtml = newHtml.wrap(`<div id='cart_items_div'></div>`)
        //$( '.items' ).html(newHtml.join(''));
        //$( '.items' ).wrap( "<div></div>" );
    }
    </script>

    <script>
            var cart_key = 'some_cart_key';
            window.addEventListener('DOMContentLoaded', (event) => {
            var customer_cart = load_cart(cart_key);
            generate_cart(customer_cart);
        });
    </script>

{% endblock content %}