.items{
    display: flex;
    flex-wrap:wrap;
    align-items: center ;
    justify-content: center;
}

.empty-cart{
    margin: 50px;
}

.continue_payment {
    text-align: right;
    margin: 10px;
}
.cart_item_name {
    width: 40%;
    margin-left: 20px;
}
 .delete_item_button{
     margin-right: 20px;
 }

.SingleItem {
    clear:both;
    height : 258px;
    width: 40%;
    margin: 10px;
    align-content: center;
    border: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 14px;
}
.SingleItem:hover {
    box-shadow: 0 0 20px -8px black;
}
.input-group {
    margin: 10px;
    display: flex;
    align-items: center;
}
.search-bar {
    width: 60%;
    margin: auto;
}

#id_expiration_month{
    width: 50%;
    float: left;
    margin-bottom: 15px;

}
.row {
    margin-right: 15px;
    margin-left: 15px;
}
#id_expiration_year{
    width: 50%;
    float: left;
    margin-bottom: 15px;


}

.paymentForm{
    display: flex;
    align-content: space-around;

}

.SingleItem .ItemImg{
    max-height: 140px;
    max-width: 160px;
    display:block;
    margin: 10px auto auto;
}

.SingleItem .ItemPrice{
    display:block;
    text-align: center;
    margin-bottom: 7px;
}

.SingleItem .Caption{
    display: block;
    text-align: center;
}


.Caption {
    display: block;
}

.FilterButtons{
    display: flex;
    align-content: center;
    justify-content: center;
}

.filterbtn{
    margin: 10px;
}

.navbar{
    background-color: #87adb8;
}

.ItemDetailsPage{
    border: black 1px solid;
    margin: 20px auto 10px;
    background-color: lightgray;
    max-width: 800px;

}

.ItemDetailsPageInfo{
    display: flex;
    margin-bottom: 20px;
}

.ItemTitle{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ItemDescription{
    margin-left: 20px;
    background-color: white;
    border: black 1px solid;
    min-width: 200px;
    max-width: 350px;
    padding: 10px;
    margin-bottom: auto;

}

.ItemRightSide{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.ItemPicGallery{
    align-self: flex-start;
    margin: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 150px;
}

.ItemDetailsPage .ItemPrice{
    margin: 20px;
    align-self: flex-end;
}


.ItemDetailsPage .CartButton{
    align-self: flex-end;
}


.site-footer
{
  background-color:#87adb8;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  margin-top: auto;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}


.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color: #fff;
  background-color:#f0ad4e;
}



.EntirePage{

}

.PageContent{
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.ItemPrice{
    height:20px;
}


#AddToCartButton{
    display: block;
    margin: auto auto 10px;
}

.btn-primary{
    background-color: #87adb8;
    color: black;
    border-color: #73a3ae;
}


#UserInfo{
    display: block;
    margin: 10px;
}

#ProfilePic {
    float:right;
    border:1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

#ProfilePic:hover {
     box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#ProfileInfo-btn{
    margin:15px;
}

.ItemPicGallery .ItemImg{
    max-width: 150px;
}

.ItemImg:hover{
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}
.content-section{
    display: flex;
    flex-wrap:wrap;
    align-items: flex-start ;
    justify-content: center;
}

.info-box{

    margin: 10px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: auto;
}

.CartItem {
    display: flex;
    flex-direction: row;
    background-color: lavender;
    align-items: center;
    clear:both;
    justify-content: space-between;
    height : 150px;
    margin: 10px;
    padding: 5px;
    align-content: center;
    border: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 14px;
    flex-direction: row;
}

#ItemQuant {
    display: flex;
    flex-direction: row;
}

.cart_checkout_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    clear:both;
    justify-content: space-between;
    height : 50px;
    margin: 10px;
    padding: 10px;
    align-content: center;
    border: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 14px;
    width: auto;
}




#cart_summary {
width: auto;
}

.Search_history_container {
    margin: 50px;
    width: auto;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.SearchItemClass {
    border: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(#818a91, #818a91) no-repeat center/2px 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.SearchItemClassHeader {
    background-color: lavender;
}

.search-history-buttons {
    display: flex;
    margin-left: auto;
    float: left;

}

.history-btn{
    margin-top: 20px;
    margin-left: 10px;
}

#no-history-notification {
    color: indianred;
    float:left
}
