
footer {
    width: 100%;
    background-color: cadetblue;
    position: relative;
    bottom: 0;
}

.items{

    display: flex;
    flex-wrap:wrap;
    align-content: flex-start ;

}
.single-item {

    display: inline-block;
    height : 166px;
    width: 49%;
}

.single-item a:link{
    color:black;
}
.item-img{
    height: 150px;
}


