
footer {
    width: 100%;
    background-color: cadetblue;
    position: relative;
    bottom: 0;
}

.items{
    background-color: navy;
    display: flex;
    flex-wrap:wrap;
    align-content: flex-start ;

}
.single-item {
    background-color: aqua;
    display: inline-block;
    height : 166px;
    width: 49%;
}
.item-img{
    height: 150px;
}


