<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
        Captain Console
    <img src="/static/images/captainCircle.png" alt="Captain Console" width="80px"/>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link"  href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sony
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Playstation</a>
                  <a class="dropdown-item" href="#">Playstation 2</a>
                  <a class="dropdown-item" href="#">Playstation 3</a>
                  <a class="dropdown-item" href="#">PSP</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link"  href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nintendo
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Nintendo DS</a>
                  <a class="dropdown-item" href="#">Game Boy </a>
                  <a class="dropdown-item" href="#">Game Boy Color</a>
                  <a class="dropdown-item" href="#">Game Boy Advance</a>
                  <a class="dropdown-item" href="#">NES</a>
                  <a class="dropdown-item" href="#">SNES</a>
                  <a class="dropdown-item" href="#">Wii</a>
                  <a class="dropdown-item" href="#">Nintendo GameCube</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link"  href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Microsoft
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Xbox</a>
                  <a class="dropdown-item" href="#">Xbox 360</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link"  href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sega
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Genesis</a>
                </div>
            </li>
        </ul>
    </div>



    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-active my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            {% else %}
                <a class="nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
    {% if user.is_authenticated %}
        <img src="{{ user.profile.profile_image }}" class="profile-image" height="80px" />
    {% endif %}
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

{#TODO: raða betur#}