{% extends 'base.html' %}
    {% block content %}
        <div class="FilterButtons">
        <a class="filterbtn active btn btn-primary"  href="#" role="button" data-filter="all">Show All</a>
        <a class="filterbtn btn btn-primary" href="#" role="button" data-filter="Game">Games</a>
        <a class="filterbtn btn btn-primary" href="#" role="button" data-filter="Console">Consoles</a>
        <a class="filterbtn btn btn-primary" href="#" role="button" data-filter="Controller" >Controllers</a>
        <a class="filterbtn btn btn-primary" href="#" role="button" data-filter="Accessory">Other</a>
        </div>
        <div class="items">
        {% for item in items%}
            {% if item.console == console %}
                       {% include 'item/single_item.html' with item=item %}
            {% endif %}
        {% endfor %}
        </div>
    {% endblock %}