{% extends 'base.html' %}
{% block content %}
    <div class="ItemDetailsPage">
        <h1 class="ItemTitle">{{ item.name }}</h1>
        <div class="ItemDetailsPageInfo">
            <p class="ItemDescription">{{ item.description }}</p>
            <div class="ItemRightSide">
                {% for item_image in item.itemimage_set.all %}
                    <a class="ItemDetailsPageImages">
                        <img src="{{ item_image.image }}" class="ItemImg"/>
                    </a>
                {% endfor %}
                <p id="ItemPrice">{{ item.price }}$</p>
            </div>
        </div>
    </div>
{% endblock %}

