{% extends 'base.html' %}
    {% block content %}
        <div class="ItemDetailsPage">
            <h1 class="ItemTitle">{{ item.name }}</h1>
            <div class="ItemDetailsPageInfo">
                <div class="ItemDescription">
                    <p>{{ item.description }}</p>
                </div>
                <div class="ItemRightSide">
                    {% for item_image in item.itemimage_set.all %}
                        <div class="ItemPicGallery">
                            <img src="{{ item_image.image }}" class="ItemImg"/>
                        </div>
                    {% endfor %}
                    <div class="ItemPrice">
                        <p>{{ item.price }}$</p>
                    </div>
                    <div id="AddToCartButton">
                        <button type="button" class="btn btn-outline-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

