{% extends "base.html" %}
{% block content %}
    <div id="ProfileContainer">
        <h2 id="ProfileInfo">Profile Information</h2>
        <h4 id="GreetingMessage">Greetings {{ user }}! We at Captain Console hope you're having a great time!</h4>
        <h4 id="UserInfo">Username: {{ user }}</h4>
        <h4 id="UserInfo">First Name: {{ user.first_name }}</h4>
        <h4 id="UserInfo">Last Name: {{ user.last_name }}</h4>
        <h4 id="UserInfo">Email: {{ user.email }}</h4>
        <img id="ProfilePic" src="{{ user.profile.profile_image.url }}" alt="{{ user }}">

        <a id="ProfileInfo-btn" href="/user/profile/edit/">
            <button type="button" id = "ChangeUserInfo-btn" class="btn btn-outline-primary">Change User Info</button>
        </a>
        <a id="ProfileInfo-btn" href="/user/change-password">
            <button type="button" id = "ChangePassword-btn" class="btn btn-outline-primary">Change Password</button>
        </a>

        <a id="ProfileInfo-btn" href="/user/profile/edit/picture/">
            <button type="button" id = "ChangePassword-btn" class="btn btn-outline-primary">Change Profile Picture</button>
        </a>

         <a id="ProfileInfo-btn" href="/user/profile/history">
            <button type="button" id = "SearchHistory-btn" class="btn btn-outline-primary">View Search History</button>
        </a>

    </div>
{% endblock %}