{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="Search_history_container info-box">
        <h3 class="text-muted">Search history</h3>
        <div class="search-content-section">
            {# if search history exists for the user, generate the headlines for the columns #}
            {% if search_history %}
                <div class="SearchItemClassHeader SearchItemClass">
                    <p> <b>DATE</b> </p>
                    <p> <b>ITEM</b> </p>
                </div>
            {% endif %}
            {% for searches in search_history %}
            <div class="SearchItemClass">
                <p class=>{{ searches.visited}}</p>
                <a href = "/items/{{ searches.item.id }}">
                    <p>{{ searches.item.name }}</p>
                </a>
            </div>
            {% endfor %}

        </div>
            <div class="search-history-buttons">
            {% if search_history %}
                <div>
                <form class="DeleteSearchHistoryButtonDiv" method="post" action="">
                {% csrf_token %}
                <button type="submit" id = "DeleteSearchHistoryButton" class="history-btn btn btn-outline-danger">Clear search history</button>
                </form>
                </div>
            {% endif %}
            {% if not search_history %}
                <span id="no-history-notification">No search history found!</span>
            {% endif %}
            <div>
                <a href="{% url 'item-index' %}"><button type="button" class="history-btn btn btn-primary">Go home</button></a>
            </div>

        </div>

    </div>

{% endblock %}