{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Search history</h1>
    <div class="search-content-section">
        {% for searches in search_history %}
        <div class="SearchItemClass">
            <p>{{ searches.visited}}</p>
            <a href = "/items/{{ searches.item.id }}">
                <p>{{ searches.item.name }}</p>
            </a>
        </div>
    {% endfor %}
    </div>

    <form class="DeleteSearchHistoryButtonDiv" method="post" action="">
        {% csrf_token %}
        <button type="submit" id = "DeleteSearchHistoryButton" class="btn btn-outline-danger">Clear search history</button>

    </form>
{% endblock %}