{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 id="TitleSearch">Search history</h1>
    <div class="Search_history_container">



        <div class="search-content-section">
            {# if search history exists for the user, generate the headlines for the columns #}
            {% if search_history %}
                <div class="SearchItemClassHeadlines">
                    <p> <b>DATE</b> </p>
                    <p> <b>ITEM</b> </p>
                </div>
            {% endif %}
            {% for searches in search_history %}
            <div class="SearchItemClass">
                <p class=>{{ searches.visited}}</p>
                <a href = "/items/{{ searches.item.id }}">
                    <p>{{ searches.item.name }}</p>
                </a>
            </div>
            {% endfor %}
            <form class="DeleteSearchHistoryButtonDiv" method="post" action="">
                {% csrf_token %}
                <button type="submit" id = "DeleteSearchHistoryButton" class="btn btn-outline-danger">Clear search history</button>
            </form>
        </div>
    </div>
{% endblock %}